<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Aggiungi Foto</title>

</head>
<body>

	
	
	<div>
		<div >
			<div>			
				<h2>Aggiungi una foto</h2>
			</div>		
		</div>
		<div >
		
			<div >
				<div>
					<div th:if="${errors}">
					<h3>Errors:</h3>
					<ul>
						<li th:each="error : ${errors}" th:object="${error}">
							[[*{defaultMessage}]]
						</li>
					</ul>
				</div>
					<form method="POST" th:action="@{/photos/create}" th:object="${photo}">
						<label >Titolo</label>
						<input type="text" name="title" th:field="*{title}" />
						<br>
						
						<label >Descrizione</label><br>
						<input  type="text" name="description" th:field="*{description}" />
						<br>
						
						<label >Url</label><br>
						<input type="text" name="url" th:field="*{url}" />
						<br>
						
						<label >Visibilità</label>
						<div>
							<input  type="radio" name="visible" th:field="*{visible}" value="1"/><label>Visibile</label>
							<input  type="radio" name="visible" th:field="*{visible}" value="0"/><label>Non visibile</label>
						</div>
					
							<label>Categorie</label>
						<div
							th:each = "category : ${categories}"
							th:object = "${category}"
						>
							<input 
								type="checkbox" name="categories"
								
								th:value="*{id}"
								th:field="${photo.categories}"
							/>
							<label>[[*{name}]]</label>
						</div>

						
						<button type="submit">Aggiungi</button>
					</form>
					
					<a href="/photos">Vai a foto</a>
				</div>
			</div>	
		</div>
	</div>
</body>
</html>