<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>foto</title>
</head>

<body>
	<a href="/">Vai alla home</a>
	<h1>Sono la foto</h1>
	<ul>
		<li th:each="photo : ${photos}" th:object="${photo}">
			<div>[[*{title}]]</div>
			<div>[[*{description}]]</div>
			<div>[[*{url}]]</div>
			<div>[[*{visible}]]</div>
			<a th:href="@{photos/show/{id}(id=${photo.id})}">Mostra</a>
			<a th:href="@{photos/edit/{id}(id=${photo.id})}">Modifica</a>	
			<a th:href="@{photos/delete/{id}(id=${photo.id})}">Elimina</a>		
		</li>
	</ul>

	<a href="/categories">Vai a categorie</a>
	<a href="photos/create">Crea la tua foto</a>
</body>

</html>